/*********************************************************
 IMPORTS
*********************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;


/*********************************************************
 LAYOUT
*********************************************************/
:root {
  @apply bg-white
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply bg-purple-950
  }
}

body {
  @apply bg-white
}

main {
  @apply container lg:max-w-screen-lg mx-auto px-8 py-8
}


/*********************************************************
 APP STYLES
*********************************************************/
h1 {
  @apply text-5xl font-medium mb-4
}

.home h1 {
  @apply text-8xl
}

h2 {
  @apply text-lg font-medium mb-2 mt-6
}

h6 {
  @apply text-base font-medium
}

p {
  @apply mb-4
}

ul:not(.navbar) {
  @apply list-disc list-inside ml-4 text-sm
}

li:not(.nav-item) {
  @apply mb-1 last:mb-0
}

.container .row {
  @apply mt-6
}

.bs-bg-dark {
  @apply !bg-violet-950
}

button {
  @apply bg-purple-950 hover:bg-purple-900 text-white py-2 px-4 !rounded
}

a {
  @apply text-purple-950
}

p > a {
  @apply underline
}


/*********************************************************
 NAVIGATION
*********************************************************/
.navbar .container {
  @apply px-0
}

.navbar-brand {
  @apply !text-white block text-center
}

.navbar-brand img {
  @apply mx-auto
}

.navbar li, 
.nav-link {
  @apply !text-white
}

a:hover, .nav-link:hover {
  @apply !text-purple-600
}


/*********************************************************
 FORMS
*********************************************************/
.form-page {
  @apply flex-col items-center;
  flex-grow: 1;
  position: relative;
}

.paper.form-wrapper {
  @apply max-w-sm mx-auto mt-0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;
}

.paper.form-wrapper .form {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem 2rem 2rem 2rem;
}

.form .header {
  @apply flex mb-4
}

.form .header img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
}

.form .header h1 {
  @apply mb-2 text-4xl pt-4
}

.form-control:focus {
  @apply border-purple-100;
  box-shadow: 0 0 0 0.25rem rgba(95, 12, 211, 0.2);
}

.form-footer-alert {
  @apply mt-4 text-gray-600 text-sm
}


/*********************************************************
 CART
*********************************************************/
#cart {
  @apply mt-12
}

#cart .card, .home .card {
  min-height: auto;
}

#cart .card-title {
  @apply bg-purple-950 font-medium text-lg text-white mb-0 pb-2
}

#cart .card hr {
  @apply mb-0 mt-0
}

#cart .card-title {
  padding-top: 7px;
  padding-left: 1rem;
}

.empty-cart {
  @apply text-gray-600 text-center mt-4 mb-8
}

.empty-cart svg {
  @apply mx-auto
}

.cart-item {
  display: flex;
  align-items: center;
  @apply mb-2 text-xs
}

.cart-item .cart-image {
  width: 50px;
  height: 50px;
  @apply inline-block mr-2
}

.cart-item .cart-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-footer {
  @apply mt-6
}

.cart-footer h5 {
  @apply inline-block ml-4
}

.checkout-cart.bs-bg-dark {
  @apply !bg-violet-950
}

.update-quantity > div, 
.update-quantity > button {
  @apply inline-block
}

.update-quantity button {
  @apply p-0 m-0 ml-1;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.cart-item .item-price {
  @apply ml-2
}

.cart-item .update-quantity {
  margin-left: auto;
}


/*********************************************************
 ELEMENT: CARD LISTS
*********************************************************/
.row .card {
  @apply mb-6
}

.card {
  min-height: 395px;
}

.card img {
  object-fit: cover;
}

.card-body h2 {
  @apply mt-0 mb-1 text-xl
}

a.restaurant-link {
  @apply !text-black
}

a.restaurant-link:hover {
  @apply !text-purple-950
}